

/*---------
--- header section styling description start */

.header-section{
    display: flex;
    background-color: blue;
    padding: 30px;
    margin: 20px;
}
.header-description h1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;

}
#watching-live{
    color: white;
    font-weight: 600;
    background-color: tomato;
    
}

/*--------
-----  header section styling description end */


/*----------
all player information starts
-------------*/

.player-info-part01{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.player-info-part02{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.player-info-part03{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.player-info-part04{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.player-img{
    text-align: center;
   
}
.player-details{
    margin-left: 10px;
}
.player-img img{
    width: 300px;
    height: 256px;
    flex-grow: 0;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}
.player{
    width: 330px;
    height: 456px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

/*----------
all player information ends
-------------*/



/* watching live match section style starts */

.live-match-section{
    display: flex;
    margin-top: 90px;
    margin-left: 110px;
    margin-right: 150px;
    }
.description{
    width: 469px;
    height: 309px;
}
.description h1{
    width: 469px;
    height: 120px;
    font-weight: 800;
}
.description-text{
    width: 404px;
    height: 113px;
}
.description-text2{
    width: 173px;
    height: 44px;
}
.match-pic{
    margin-left: 60px;
}

/*-------------
 start of extra design part of giving task in watching match section
 -------------*/

.photo-frame{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(44, 11, 11);
    border-radius: 5px;
    position: relative;

    
}
.photo-detail{
    width: 500px;
    height: 350px;
    top: 0px;
    position: absolute;
    display: none;

}
.photo-frame:hover .photo-detail{
    display: block;
    background-color: green;
}

/*-------------
 end of extra design part of giving task in watching match section
 -------------*/


/*-------------
 footer part starts
 ---------------- */

.footer-section{
text-align: center;
margin-top: 200px;
margin-bottom: 70px;
}
.footer-img img{
    width: 483.7px;
    height: 110px;
}
.social-media-icon img{
    width: 32px;
    height: 32px;
}

/*-------------
 footer part starts
 ---------------- */
