

/*---------
--- header section styling description start */
.header{
   
}
.nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}


.header-section{
    display: flex;
    background-color: blue;
    padding: 30px;
    margin: 20px;
}
.header-description h1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;

}
.watching-live{
    color: white;
    font-weight: 600;
    background-color: tomato;
    border-radius: 2px;
    border: 5px;
    box-shadow: 1px 1px 1px whitesmoke;
    background-image: linear-gradient(rgb(216, 145, 14),rgb(148, 148, 206) );
    
}
.watching-live:hover{
    background-color: red;
}

.header-animation{
transition: width 10s ,transform 10s;
}

.header-animation:hover{
    width: 500px;
    transform: rotate(15deg);
    border-radius: 100px;
}

/*--------
-----  header section styling description end */


/*----------
all player information starts
-------------*/


.player-info-part01{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.player-info-part02{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.player-info-part03{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.player-info-part04{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.player-img{
    text-align: center;
   
}
.player-details{
    margin-left: 10px;
}
.player-img img{
    width: 300px;
    height: 256px;
    flex-grow: 0;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}
.player{
    width: 330px;
    height: 456px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

/*----------
all player information ends
-------------*/



/* watching live match section style starts */

.live-match-section{
    display: flex;
    margin-top: 90px;
    margin-left: 110px;
    margin-right: 150px;
    }
.description{
    width: 469px;
    height: 309px;
}
.description h1{
    width: 469px;
    height: 120px;
    font-weight: 800;
}
.description-text{
    width: 404px;
    height: 113px;
}
.description-text2{
    width: 173px;
    height: 44px;
}
.match-pic{
    margin-left: 60px;
}
#paragraph{
  color: rgba(255, 255, 255, 0.986);
  font-weight: 400;
  background-image: linear-gradient(orange ,cyan);
  width: 110px;
}

/*-------------
 start of extra design part of giving task in watching match section
 -------------*/

 .ul-portion{
     display: none;
     position: absolute;
     background-color: rgb(156, 236, 76);
     padding: 15px;
     width: 40px;
     height: 60px;
     margin: 5px;
     border-radius: 5px;
     box-shadow: 2px 3px yellow;
 }
.nested-nav:hover .ul-portion{
    display: block;
}

.photo-frame{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    position: relative;

    
}
.photo-detail{
    width: 500px;
    height: 350px;
    top: 0px;
    position: absolute;
    display: none;

}
#photos-header{
    padding: 10px;
    margin: 10px;
}
.photo-frame:hover .photo-detail{
    display: block;
    background-image: linear-gradient(rgb(192, 227, 241) ,rgba(164, 221, 164, 0.925));
}

/*-------------
 end of extra design part of giving task in watching match section
 -------------*/


 /* extra section */

 .extra-part{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin-top: 150px;
     margin-left: 40px;
 }
 .form-part{
     width: 550px;
 }
 .card-section{
     display: flex;
 }

/*-------------
 footer part starts
 ---------------- */

.footer-section{
text-align: center;
margin-top: 200px;
margin-bottom: 70px;
}
.footer-img img{
    width: 483.7px;
    height: 110px;
}
.social-media-icon img{
    width: 32px;
    height: 32px;
}

/*-------------
 footer part starts
 ---------------- */

 @media (max-width:700px) {
    .player-info-part01{
    flex-direction: column;
     
 }
}